<section>
  <h4>Call history</h4>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Start</th>
        <th>End</th>
        <th>From</th>
        <th>To</th>
        <th>Duration</th>
        <th>Forwardings</th>
        <th>Voice message</th>
      </tr>
    </thead>
    <tbody>
      <% @calls.each do |call| %>
      <tr>
        <td><%= call.id %></td>
        <td><%= format_time(call.starts_at) %></td>
        <td><%= format_time(call.ends_at) %></td>
        <td><%= "#{call.caller_name} (#{call.caller_sip})" %></td>
        <td><%= call.recipient_sip %></td>
        <td><%= "#{call.duration} seconds" %></td>
        <td>
          <ol>
            <% call.users.each do |user| %>
            <li><%= user %></li>
            <% end %>
          </ol>
        </td>
        <td>
          <% if call.record_url %>
          <%= link_to("Play (#{call.record_length} seconds)", call.record_url, target: '_blank') %>
          <% else %>
          No message
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
